/* Add CSS here */
.body-container {
    font-family: 'poppins', sans-serif;
    background-color: #242640;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    padding: 20px;
    background-color: #2f314f;
    height: 350px;
    max-width: 500px;
    border-radius: 0.5em;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icon-share {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon h1 {
    font-size: 10px;
    color: white;
}

.content h2 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
    padding-bottom: 25px;
}

.container-1 {
    background-color: #242640;
    padding: 4px;
    height: 50px;
    border-radius: 5em;
    border-width: 0.5px;
    border-color: rgb(83, 83, 92);
    display: flex;
    gap: 10px;
}

.card {
    height: 39px;
    background-color: #41436b;
    width: 30%;
    border-radius: 4em;
    padding: 5px;
    display: flex;
    gap: 5px;
}

.card img {
    border-radius: 25em;
    display: block;
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.card h4 {
    font-size: 10px;
    color: white;
    margin-top: 8px;
    font-weight: 700;
}

.check {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.check h5 {
    font-size: 10px;
    color: white;
}

.auction {
    margin-top: 50px;
    width: 70px;
}

.auction h6 {
    font-size: 10px;
    color: rgb(60, 60, 196);
}

.general {
    display: flex;
    justify-content: space-between;
}

.press {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.cancel-btn {
    font-size: 12px;
    color: white;
    background-color: #242640;
    width: 100px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border-radius: 0.3em;
    /* display: grid; */
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.save-btn {
    font-size: 12px;
    width: 100px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border-radius: 0.3em;
    background-color: #717fff;
    align-items: center;
    color: white;
    justify-content: center;
    transition: 0.2s;
}

.loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 25em;
    border: 3px solid transparent;
    border-top-color: white;
    animation: an1 1s ease infinite;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}



@media screen and (max-width:600px) {
    .container-1 {
        padding: 3.2px;
        height: 25px;
    }

    .card {
        height: 18px;
        width: 35%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card img {
        height: 15px;
        width: 15px;
        margin-left: -15px;
    }

    .card h4 {
        font-size: 2px;
        color: white;
        margin-top: 8px;
        font-weight: 700;
    }

    .auction h6 {
        font-size: 5px;
        color: rgb(60, 60, 196);
    }

    .cancel-btn {
        font-size: 5px;
        color: white;
        background-color: #242640;
        width: 50px;
        height: 20px;
        display: flex;
        cursor: pointer;
        border-radius: 0.3em;
        /* display: grid; */
        align-items: center;
        justify-content: center;
        transition: 0.2s;
    }

    .save-btn {
        font-size: 5px;
        width: 50px;
        height: 20px;
        display: flex;
        cursor: pointer;
        border-radius: 0.3em;
        background-color: #717fff;
        align-items: center;
        color: white;
        justify-content: center;
        transition: 0.2s;
    }

    .press {
        margin-top: 50px;
        display: flex;
        gap: 10px;
    }

    .auction {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -10px;
    }

    .loader {
        pointer-events: none;
        width: 10px;
        height: 10px;
        border-radius: 25em;
        border: 1px solid transparent;
        border-top-color: white;
        animation: an1 1s ease infinite;
    }

    .container {
        padding: 20px;
        background-color: #2f314f;
        height: 350px;
        max-width: 200px;
        border-radius: 0.5em;
    }

    .check h5 {
        font-size: 5px;
        color: white;
    }
}